# Node modules
/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# OS files
.DS_Store
Thumbs.db

# Directory for compiled TypeScript files
/dist

# Npm package lock files (optional, if you want to ignore them)
# package-lock.json
# yarn.lock

# Build directory
/build

# IDE files
.vscode/

# Jest / Mocha test coverage
/coverage

# Temporary files
*.swp